* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.box {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 4px;
}

.box.relative {
  position: relative;
  top: 120px;
  right: 120px;
}

.box:nth-child(1) {
  background-color: rgb(51, 177, 12);
}

.box:nth-child(2) {
  background-color: rgb(110, 20, 237);
}

.box:nth-child(3) {
  background-color: rgb(223, 134, 202);
  position: relative;
  top: 230px;
  right: 250px;
}